@import "theme-relearn-dark.css";

:root {
  --PRIMARY-color: #da6956;
  --MENU-SECTION-ACTIVE-CATEGORY-color: var(--PRIMARY-color);
  --CODE-INLINE-color: var(--PRIMARY-color);
  --MENU-HOME-LINK-color: white;
  --MAIN-font: "Merriweather Sans", sans-serif;
}
